{% extends "app/applayout.html" %}
{% block content %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">


<div class="container">
<br>  </p>
<hr>

<div class="row">
    <div class="col-lg-3">

    </div>
    {% if succ %}
    <aside class="col-sm-6">
        <h1>{{succ}}</h1>
    </aside>
    {% else %}
    <aside class="col-sm-6">
            
            
            <article class="card">
            <div class="card-body p-5">
            
            <ul class="nav bg-light nav-pills rounded nav-fill mb-3" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="pill" href="#nav-tab-card">
                    <i class="fa fa-credit-card"></i> Credit Card</a></li>
                <!-- <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#nav-tab-paypal">
                    <i class="fab fa-paypal"></i>  Paypal</a></li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#nav-tab-bank">
                    <i class="fa fa-university"></i>  Bank Transfer</a></li> -->
            </ul>
            
            <div class="tab-content">

            <div class="tab-pane fade show active" id="nav-tab-card">
                {% if err %}
                <p class="alert alert-success">{{err}}</p>
                {% endif %}
                <form action="{% url 'app:buy' item.id %}" role="form" method="POST" enctype="multipart/form-data">{% csrf_token %}
                <input type="hidden" value="{{item.price}}" name="oprice" id="actprice">
                <!--###########################################################################-->
                <div class="form-group">
                    <label for="username">quantity</label>
                    <select onchange="myfun()" name="qty" id="qty" class="form-control" required="required">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                    </select>
                </div>
                
                <div class="form-group">
                    <label for="username">Actual address</label>
                    <textarea class="form-control" name="actaddress"></textarea>
                </div>
                <div class="form-group">
                    <label for="username">Full name (on the card)</label>
                    <input type="text" class="form-control" name="username" placeholder="" required="">
                </div> 
                <!-- form-group.// -->
                <div class="form-group">
                    <label for="cardNumber">Card number</label>
                    <div class="input-group">
                        <input type="text" pattern="[0-9]{14}" maxlength="14" class="form-control" name="cardNumber" placeholder="">
                        <div class="input-group-append">
                            <span class="input-group-text text-muted">
                                <i class="fab fa-cc-visa"></i>   <i class="fab fa-cc-amex"></i>   
                                <i class="fab fa-cc-mastercard"></i> 
                            </span>
                        </div>
                    </div>
                </div> 
                <!-- form-group.// -->
                <div class="row">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label><span class="hidden-xs">Expiration</span> </label>
                            <div class="input-group">
                                <input type="text" class="form-control" pattern="[0-9]{2}" maxlength="2" placeholder="MM" name="month">
                                <input type="text" class="form-control" pattern="[0-9]{4}" maxlength="4" placeholder="YY" name="year">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label data-toggle="tooltip" title="" data-original-title="3 digits code on back side of the card">CVV <i class="fa fa-question-circle"></i></label>
                            <input pattern="[0-9]{3}" maxlength="3" type="text" name="cvv" class="form-control" required="">
                        </div> <!-- form-group.// -->
                    </div>
                </div> <!-- row.// -->
                <div class="col-lg-12" style="padding: 10px;">
                    <div style="width: 100%;height: 100%; background-color: gray;">
                        <input type="hidden" id="price" name="price" value="{{item.price}}">
                        <input type="text" id="var" style="border: none; background-color:gray;text-align: center; width: 100%; font-size: 30px;" value="{{item.price}} ₹">
                    </div>
                </div>
                <button class="subscribe btn btn-primary btn-block" type="submit"> Confirm  </button>
                </form>
            </div> <!-- tab-pane.// -->
            <div class="tab-pane fade" id="nav-tab-paypal">
            <p>Paypal is easiest way to pay online</p>
            <p>
            <button type="button" class="btn btn-primary"> <i class="fab fa-paypal"></i> Log in my Paypal </button>
            </p>
            <p><strong>Note:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. </p>
            </div>
            <div class="tab-pane fade" id="nav-tab-bank">
            <p>Bank accaunt details</p>
            <dl class="param">
              <dt>BANK: </dt>
              <dd> THE WORLD BANK</dd>
            </dl>
            <dl class="param">
              <dt>Accaunt number: </dt>
              <dd> 12345678912345

              </dd>
            </dl>
            <dl class="param">
              <dt>IBAN: </dt>
              <dd> 123456789</dd>
            </dl>
            <p><strong>Note:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. </p>
            </div> <!-- tab-pane.// -->
            </div> <!-- tab-content .// -->
            
            </div> <!-- card-body.// -->
            </article> <!-- card.// -->
            
            
                </aside>
                {% endif %}
                <div class="col-lg-3">

                    </div>
</div> <!-- row.// -->

</div> 
<!--container end.//-->

<br><br>


<script>
        function myfun() {
            var x = document.getElementById("qty").value;
            var d = document.getElementById("actprice").value;
            p= x * d ;
            document.getElementById("var").value = p + "₹";
            document.getElementById("price").value = p;
        }
</script>

{% endblock %}