{% extends "app/applayout.html" %}
{% block content %}
<style>
    .myitem
    {
        padding: 10px;
        border-radius: 5px;
    }
    .myitem1:hover
    {
        background-color:#e4e6e9;
    }
    .myitem1
    {border-radius: 15px;

border-radius: 5px;

height: 365px;

margin: 5px;

box-shadow: 0px 2px 12px 0 rgba(0,0,0,.36);

width: 300px;
    }
    .myimg
    {
        border-radius: 5px;
    }
    .mysp
    {
        margin: 10px; 
        overflow:hidden;
        height: 150px;
        border-radius: 5PX;
    }
    .myMP
    {
        margin: 0px;padding: 0px;
    }
</style>
<div class="row" style="margin:100px 10px 30px; ">
   {% for i in data %} 
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 myitem">
        <div class="myitem1" >
            <div class="row">
                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 mysp">
                    <img src="{{i.img.url}}" alt="no img" class="myimg" width="150px" >
                </div>
                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 myMP">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 myMP">
                        <br>
                        <b>{{i.name}}</b><br>
                        <!-- <a href="{% url 'app:singleview' id=i.id %}" style="padding: 0px;" class="btn btn-primary">View</a> -->
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin: 0px;padding: 0px;">
                        {{i.desc}}<br>
                        <button type="button" class="btn btn-primary">{{i.date}}</button>
                    </div>
                </div>
            </div>
        </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    {% endfor %}
</div>
{% endblock %}


